---
layout: layouts/base.njk
pagination:
  data: webdev
  size: 1
  alias: item
permalink: reddit/{{ item.title | slug }}/index.html
tags:
  - reddit
---

<h1>{{ item.title }}</h1>
<p>{{ item.pubdate }}</p>
<div class="content">
{{ item.content | safe }}
</div>
